<a class="comment-img" href="#non">
	<img src="/img/profiles/{{ user.image }}" alt="" width="50" height="50">
</a>
<div class="comment-body">
	<div {{#if isComment}}class="text"{{/if}}>
		{{#if isComment}}
		<p>{{ body }}</p>
		{{else}}
		<textarea id="commentBody" class="boxsizingBorder" placeholder="Add a comment" width="300"></textarea>
		{{/if}}
	</div>

	{{#if isComment}}		
	<p class="attribution">
		by <a href="#non">{{ user.first_name }} {{ user.last_initial }}</a> {{ createdAt.formattedDate }} 
		{{#if canDelete }}
		<a class="btn btn-inverse btn-mini">Delete</a>
		{{/if}}
	</p>
	{{else}}
	<a class="submitComment" type="submit" href='#comment'>Add Comment</a>
	{{/if}}
</div>
