.clearfix {
    *zoom: 1;
}

.clearfix:after {
    clear: both;
    content: "";
    display: table;
}

footer {
	margin-top: 50px;
	border-top: 2px solid #eeeeee;
	padding: 40px;
	height: 150px;
	background-color: #f1f1f1;
}

// GRID
// --------------------------------------------------

// Default 940px grid
// -------------------------
@gridColumns:             24;
@gridColumnWidth:         60px;
@gridGutterWidth:         20px;
@gridRowWidth:            (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));


// Sprite icons path
// -------------------------
@iconSpritePath:          "../../img/glyphicons-halflings.png";
@iconWhiteSpritePath:     "../../img/glyphicons-halflings-white.png";


// Mixins
// -------------------------
.barlist {
	display: inline;
	text-decoration: none;	
	padding: 0 10px;
}

// Project Dashboard Header
// ---------------------------------------------------------------------------------------
@contestLengthWidgetArrowWidth: 23px;
@contestLengthWidgetArrowHeight: 30px;
@contestLengthWidgetHeightOffset: 40px;

.projectHeader {
	margin-bottom: 40px;
}

	#contestLengthWidget {
		float: right;
		margin-top: @contestLengthWidgetHeightOffset;
		.transition(width 2s ease-in-out);
	}

	#contestLengthWidgetContainer {
		position: relative;

	}

	.contestLengthWidgetArrow {
		position: absolute;
		top: @contestLengthWidgetArrowHeight - @contestLengthWidgetHeightOffset;
		margin-left: -@contestLengthWidgetArrowWidth/2;
	}

	.progress, .progress .bar {
		height: 25px;
	}

	.paymentAmount {
		font-size: 3em;
		font-weight: bold;
		color: @blueDark;
	}

	ul.projectWatchLinks, ul.projectTypes, ul.projectStatLinks {
		margin: 10px 0;
		li {
			.barlist;
			&:first-child {
				padding-left: 0;
			}	
			img {
				padding: 0 3px;
			}
		}
	}

	ul.projectNavLinks {
		margin: 40px 0 10px 0;
		font-size:1.4em;
		li {
			.barlist;
			border-right: 1px solid @blue;		
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				border: none;
			}
		}
		.active {
			color: @blueDark;
		}
	}

	#projectHeader div.row {
		position: relative;
	}

	#contestLengthWidgetCountdown {
		text-align: center;
		font-size: 1.2em;
		color: @blue;
	}	


.projectRow {
	margin-bottom: 30px;
}


// Project Dashboard Content
// ---------------------------------------------------------------------------------------
.projectContent {
	h1 { margin-bottom: 15px; }
	p { font-size: 2em; line-height:1.3em;}
}


// Project Comments
article, aside, figure, footer, header, hgroup, 
menu, nav, section { display: block; }

.comment {
    overflow: hidden;
    padding: 0 0 1em;
    border-bottom: 1px solid #ddd;
    margin: 0 0 1em;
    *zoom: 1;
}

.comment-img {
    float: left;
    margin-right: 33px;
    border-radius: 5px;
    overflow: hidden;
}

.comment-img img {
    display: block;
}

.comment-body {
    overflow: hidden;
}

.comment .text {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
    font-size: 0.6em;
}
.comment .text p:last-child {
    margin: 0;
}

.comment .attribution {
    margin: 0.5em 0 0;
    font-size: 14px;
    color: #666;
}

.comments,
.comment {
    position: relative;
}

.comments:before,
.comment:before,
.comment .text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 65px;
}

.comments:before {
    width: 3px;
    top: -20px;
    bottom: -20px;
    background: rgba(0,0,0,0.1);
}

.comment:before {
    width: 9px;
    height: 9px;
    border: 3px solid #fff;
    border-radius: 100px;
    margin: 16px 0 0 -6px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
    background: #ccc;
}

.comment:hover:before {
    background: orange;
}

.comment textarea {
	width: 100%;
	padding: 10px;
	outline: none;
	resize: none;
	overflow: auto;
}

.comments {
	margin-top: 25px;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.user-image {
	display: block;	
	margin-top: 5px;
}

.table tr td, a {
	cursor: default;
}

.form-header {
	margin: 10px 0 50px 0;
}

ul.thumbnails li h2 {
	text-align: center;
}

ul.thumbnails li {
	cursor: pointer;
}

.center {
	text-align: center;
}

.minorbreadcrumbs {
	margin: 35px 0;
}

.breadcrumbs {
	margin-bottom: 35px;
}

.control-label {
	font-family: "Helvetica Neue";
}

div.tagsinput span.tag {
	background-color: @linkColor !important;
	color: @navbarText !important;
	border: 1px solid lighten(@linkColor,10%) !important;
}

div.tagsinput span.tag a {
	color: @navbarText !important;
}

ul.checkboxlist li {
	margin-top: 40px;
}

label.checkbox label {
	font-size: 2em;
}

ul.horizontal-list li {
	float: left;
	padding: 0 5px;
}

span.price {
	position: relative;
	left: 30px;
	color: @green;
	font-size: 0.8em;
}

#package-select-controls button.active {
	background-color: @green;
}

#swf-container {
	display: inline;
	width: 180px;
	height: 33px;
	margin-bottom: 10px;
}

.thumbnail {
	position: relative;
}

.thumbnail button.close {
	position: absolute;
	top: 5px;
	right: 5px;
	display: none;
}

.thumbnail:hover button.close {
	display: block;
}
