.clearfix {
    *zoom: 1;
}

.clearfix:after {
    clear: both;
    content: "";
    display: table;
}

footer {
	margin-top: 50px;
	border-top: 2px solid #eeeeee;
	padding: 40px;
	height: 150px;
	background-color: #f1f1f1;
}

// GRID
// --------------------------------------------------

// Default 940px grid
// -------------------------
@gridColumns:             24;
@gridColumnWidth:         60px;
@gridGutterWidth:         20px;
@gridRowWidth:            (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));


// Sprite icons path
// -------------------------
@iconSpritePath:          "../../img/glyphicons-halflings.png";
@iconWhiteSpritePath:     "../../img/glyphicons-halflings-white.png";


// Mixins
// -------------------------
.barlist {
	display: inline;
	text-decoration: none;	
	padding: 0 10px;
}

// Project Dashboard
// -------------------------
@contestLengthWidgetArrowWidth: 23px;
@contestLengthWidgetArrowHeight: 30px;
@contestLengthWidgetHeightOffset: 40px;

#contestLengthWidget {
	float: right;
	margin-top: @contestLengthWidgetHeightOffset;
	.transition(width 2s ease-in-out);
}

#contestLengthWidgetContainer {
	position: relative;

}

.contestLengthWidgetArrow {
	position: absolute;
	top: @contestLengthWidgetHeightOffset - @contestLengthWidgetArrowHeight;
	margin-left: -@contestLengthWidgetArrowWidth/2;
}

.progress, .progress .bar {
	height: 25px;
}

.paymentAmount {
	font-size: 3em;
	font-weight: bold;
	color: @blueDark;
}

ul.projectWatchLinks, ul.projectTypes {
	margin: 10px 0;
	li {
		.barlist;
		&:first-child {
			padding-left: 0;
		}	
		img {
			padding: 0 3px;
		}
	}
}

ul.projectNavLinks {
	margin: 40px 0 10px 0;
	font-size:1.4em;
	li {
		.barlist;
		border-right: 1px solid @blue;		
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			border: none;
		}
	}
	.active {
		color: @blueDark;
	}
}

#projectHeader div.row {
	position: relative;
}

#contestLengthWidgetCountdown {
	text-align: center;
	font-size: 1.2em;
	color: @blue;
}

.user-image {
	display: block;	
	margin-top: 5px;
}

.table tr td, a {
	cursor: default;
}

.form-header {
	margin: 10px 0 50px 0;
}

ul.thumbnails li h2 {
	text-align: center;
}

ul.thumbnails li {
	cursor: pointer;
}

.center {
	text-align: center;
}

.minorbreadcrumbs {
	margin: 35px 0;
}

.breadcrumbs {
	margin-bottom: 35px;
}

.control-label {
	font-family: "Helvetica Neue";
}

div.tagsinput span.tag {
	background-color: @linkColor !important;
	color: @navbarText !important;
	border: 1px solid lighten(@linkColor,10%) !important;
}

div.tagsinput span.tag a {
	color: @navbarText !important;
}

ul.checkboxlist li {
	margin-top: 40px;
}

label.checkbox label {
	font-size: 2em;
}

ul.horizontal-list li {
	float: left;
	padding: 0 5px;
}

span.price {
	position: relative;
	left: 30px;
	color: @green;
	font-size: 0.8em;
}

#package-select-controls button.active {
	background-color: @green;
}

#swf-container {
	display: inline;
	width: 180px;
	height: 33px;
	margin-bottom: 10px;
}

.thumbnail {
	position: relative;
}

.thumbnail button.close {
	position: absolute;
	top: 5px;
	right: 5px;
	display: none;
}

.thumbnail:hover button.close {
	display: block;
}
