<a class="thumbnail" href="#">
	<img src="/img/audiodefault.png" alt="">
</a>
<div class="subGroove">
	<div class="rating" data-ro="{{readonly}}" data-rating="{{rating}}"></div>
	<div class="grooveUser">By <a href="#">{{user.first_name}} {{user.last_initial}}</a></div>	
	<p>{{title}} ({{lengthFormatted}})</p>
	<div>{{description}}</div>
	<div class="pull-right">
		{{#if winner}}
		  <span class="label label-success">Winner</span>
		{{/if}}
		<a href="#"><i class="icon-flag" /></a>
	</div> 
</div>

