{% extends 'GCWelcomeBundle::layout.html.twig' %}

{% block body %}
    {{ parent() }}

    <div class="row">
        <div class="span5 offset1">
            <h2>Make Grooves</h2>
            <p>There's music to be made and sounds to be recorded. If you've got some audio skills, lay down some tracks and get paid!</p>
            <p><a class="btn" href="#">Get started &raquo;</a></p>
        </div>
        <div class="span5">
            <h2>Get Grooves</h2>
            <p>That sweet new Android app you just made is kinda boring without music, and those birds can't just chirp by themselves. Someone out there has the perfect loop for you. We'll help you find it!</p>
            <p><a class="btn" href="{{ path('project_new') }}">Get started &raquo;</a></p>
       </div>
    </div>
{% endblock %}