{% extends '::base.html.twig' %}

{% block body %}
    {% block hero %}
        <div class="hero-unit">
            <h1>GrooveCrowd</h1>
            <p>Sound's good.</p>
            <p><a class="btn btn-primary btn-large">Take a tour &raquo;</a></p>
        </div>
    {% endblock %}
{% endblock %}
