{% extends '::base.html.twig' %}

{% block navlist %}
    <li><a href="{{path ('_welcome')}}">Home</a></li>
    <li><a href="#about">Browse Contests</a></li>
    <li class="active"><a href="{{url('dashboard_index')}}">My Contests</a></li>
{% endblock %}  


{% block footer1 %}
	<li><h4>My Account</h4></li>
	<li><a>Profile Settings</a></li>
	<li><a>Payments</a></li>
	<li><a>View History</a></li>
{% endblock %}