{% extends '::base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts '@GCDashboardBundle/Resources/public/js/gc_project.js' output="js/common.js" %}
	    <script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	    
{% endblock %}

{% block footer1 %}
	<li><h4>My Account</h4></li>
	<li><a>Profile Settings</a></li>
	<li><a>Payments</a></li>
	<li><a>View History</a></li>
{% endblock %}