{% extends '::base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
    <script src="{{ asset('js/gc_project.js') }}" type="text/javascript"></script>
{% endblock %}

{% block footer1 %}
	<li><h4>My Account</h4></li>
	<li><a>Profile Settings</a></li>
	<li><a>Payments</a></li>
	<li><a>View History</a></li>
{% endblock %}