{% extends 'GCDashboardBundle::layout.html.twig' %}

{% block body %}

	<div class="row form-header">
		<div class="span12">
			<h1>Select a category</h1>
		</div>
	</div>
	<form id="selectForm" action="{{ path('project_new') }}" method="POST" enctype='text/plain' }}>	
		<div class="row">
			<div class="span12" id="music" class="selectFormChoice">
				<div class="row">
					<ul class="thumbnails">
					  <li class="span2">
					    <h4 style="text-align: center;"	>Apps &amp; Games</h4>
					    <div class="thumbnail">
					      <img src="http://placehold.it/260x180" alt="">
					    </div>
					  </li>
					  <li class="span2">
					    <h4 style="text-align: center;"	>Videos &amp; Animation</h4>
					    <div class="thumbnail">
					      <img src="http://placehold.it/260x180" alt="">
					    </div>
					  </li>
					  <li class="span2">
					    <h4 style="text-align: center;"	>Brand Jingle</h4>
					    <div class="thumbnail">
					      <img src="http://placehold.it/260x180" alt="">
					    </div>
					  </li>
					  <li class="span2">
					    <h4 style="text-align: center;"	>Other</h4>
					    <div class="thumbnail">
					      <img src="http://placehold.it/260x180" alt="">
					    </div>
					  </li>					  					  					  
					</ul>					
				</div>
			</div>
		</div>
		<input type="hidden" id="category" name="category"/>
	</form>

{% endblock %}
