{% extends 'GCDashboardBundle::breadcrumb_form.html.twig' %}

{% block formheader %}
	<h1>Select a category</h1>
{% endblock %}

{% block formbody %}
	<div class="span12">
		<ul class="thumbnails">
			<li id="game" class="span3 selectFormChoice">
				<form class="selectForm" action="{{ path('project_new') }}" method="POST">	
			    	<h2>Apps &amp; Games</h2>
			    	<div class="thumbnail">
			      		<img src="http://placehold.it/260x180" alt="">
			    	</div>
			  		<input type="hidden" name="category" value="game" />
				</form>				    
			 </li>
			 <li id="video" class="span3 selectFormChoice">
				<form class="selectForm" action="{{ path('project_new') }}" method="POST">					
				    <h2>Videos &amp; Animation</h2>
				    <div class="thumbnail">
				      <img src="http://placehold.it/260x180" alt="">
				    </div>
				  <input type="hidden" name="category" value="video" />
				</form>				  
			  </li>
			  <li id="brand-jingle" class="span3 selectFormChoice">
				<form class="selectForm" action="{{ path('project_new') }}" method="POST">					  
				    <h2>Brand Jingle</h2>
				    <div class="thumbnail">
				      <img src="http://placehold.it/260x180" alt="">
				    </div>
				  <input type="hidden" name="category" value="brand-jingle" />				  
				</form>
			  </li>
			  <li id="other" class="span3 selectFormChoice">
				<form class="selectForm" action="{{ path('project_new') }}" method="POST">					  
			    	<h2>Other</h2>
			    	<div class="thumbnail">
			    	  	<img src="http://placehold.it/260x180" alt="">
			    	</div>
				  <input type="hidden" name="category" value="other" />				  
				</form>				  					  					  
			 </li>	
		</ul>					
	</div>
{% endblock %}
