{% extends 'GCDashboardBundle::consumer_dashboard.html.twig' %}

{% block subnav %}
    <ul class="nav nav-tabs">		    
      <li class="active"><a href="#">Current Contests</a></li>
      <li class=""><a href="#">Recent Activity</a></li>
      <li class=""><a href="#">Past Contests</a></li>
      <li class=""><a href="#">Payment History</a></li>
    </ul>
{% endblock %}

  {% block project_header %}
    <div class="projectContainer">
      {% for project in projects %}
        {% include 'GCDashboardBundle:Project:collapsed_project.html.twig' %}
      {% endfor %}
    </div>  
  {% endblock %}

{% block project_content %}{% endblock %}