{% extends 'GCDashboardBundle::breadcrumb_form.html.twig' %}

{% block formheader %}
	<h1>Select a Package</h1>
{% endblock %}

{% block formbody %}
	<div class="row">
		<div class="span4">
			<div class="row">
				<div class="span2">
					<h1>Bronze</h1>				
				</div>
				<div class="span2">
					<img class="span1" src="http://placehold.it/260x180" alt="">	
				</div>				
			</div>
			<div class="row">
				<div class="span4">
					<p>Lorem hizzle gangster crackalackin amizzle, consectetizzle adipiscing elit. Nullam fo shizzle velizzle, aliquet volutpizzle, suscipizzle quis, own yo' vizzle, dawg. Pellentesque away tortizzle. Sed erizzle. Fusce crazy dolor dapibus turpis tempizzle tempor. Mauris rizzle nibh nunc. Break yo neck, yall suscipizzle. Shit semper velit dang crackalackin.</p>					
				</div>
			</div>
			<div class="row">
				<div class="span2">
					<h2>${{ prices[0].price }}</h2>
				</div>				
				<div class="span2">
					<button class="btn btn-primary pull-right">Select</button>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="row">
				<div class="span2">
					<h1>Silver</h1>				
				</div>
				<div class="span2">
					<img class="span1" src="http://placehold.it/260x180" alt="">	
				</div>				
			</div>
			<div class="row">
				<div class="span4">
					<p>Lorem hizzle gangster crackalackin amizzle, consectetizzle adipiscing elit. Nullam fo shizzle velizzle, aliquet volutpizzle, suscipizzle quis, own yo' vizzle, dawg. Pellentesque away tortizzle. Sed erizzle. Fusce crazy dolor dapibus turpis tempizzle tempor. Mauris rizzle nibh nunc. Break yo neck, yall suscipizzle. Shit semper velit dang crackalackin.</p>					
				</div>
			</div>
			<div class="row">
				<div class="span2">
					<h2>${{ prices[1].price }}</h2>
				</div>				
				<div class="span2">
					<button class="btn btn-primary pull-right">Select</button>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="row">
				<div class="span2">
					<h1>Gold</h1>				
				</div>
				<div class="span2">
					<img class="span1" src="http://placehold.it/260x180" alt="">	
				</div>				
			</div>
			<div class="row">
				<div class="span4">
					<p>Lorem hizzle gangster crackalackin amizzle, consectetizzle adipiscing elit. Nullam fo shizzle velizzle, aliquet volutpizzle, suscipizzle quis, own yo' vizzle, dawg. Pellentesque away tortizzle. Sed erizzle. Fusce crazy dolor dapibus turpis tempizzle tempor. Mauris rizzle nibh nunc. Break yo neck, yall suscipizzle. Shit semper velit dang crackalackin.</p>					
				</div>
			</div>
			<div class="row">
				<div class="span2">
					<h2>${{ prices[2].price }}</h2>
				</div>				
				<div class="span2">
					<button class="btn btn-primary pull-right">Select</button>
				</div>
			</div>
		</div>				
	</div>

	{{ parent() }}
{% endblock %}


	{% block backbutton %}
	{% endblock %}


	{% block minorbreadcrumbs %}{% endblock %}
