{% extends 'GCDashboardBundle::layout.html.twig' %}

{% block body %}
	<div class="subnav">
	    <ul class="nav nav-tabs">
	      <li class="active"><a href="#">Current Contests</a></li>
	      <li class=""><a href="#">Recent Activity</a></li>
	      <li class=""><a href="#">Past Contests</a></li>
	      <li class=""><a href="#">Payment History</a></li>
	    </ul>
	</div>
	<div class="span12">
		<h1>Project: {{project.title}}</h1>

    </div>
{% endblock %}