{% extends '::base.html.twig' %}

{% block body %}
	New Category:

<form action="{{ path('_categoryadd') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>

{% endblock %}